* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

#root {
    max-width: 430px;
    min-height: 1000px;
    max-height: 1200px;

    margin: 0 auto;


}